<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/navbar.css">
    <title>Fitness Website</title>
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="/homepage"><img class="homeicon" src="static/homeicon.png" alt="Home"></a></li>
            <li><a href="heart.html">Heart</a></li>
            <li><a href="diet.html">Diet</a></li>
            <li><a href="diary.html">Diary</a></li>
            <li><a href="steps.html">Steps</a></li>
            <li><a href="sleep.html">Sleep</a></li>
            <li><a href="accessibility.html">Accessibility</a></li>
        </ul>
    </div>
</body>
</html>