<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>ToKa Fitness</title>
</head>
<body>
    <div class="page">
        <form action="/signup" method="post">
            <label for="name">Name:</label>
            <input name="name" id="name" type="text" required>
            <label for="username">Email:</label>
            <input name="username" id="username" type="text" required>
            <label for="password">Password:</label>
            <input name="password" id="password" type="password" required>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <button type="submit">Sign Up</button>
            <span class="text">
                Or
            </span>
            <a class="signup" href="/login">Log In</a>
        </form>
    </div>
</body>
</html>
